<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ly.cookbook.mapper.UserLoginLogMapper">

    <resultMap id="BaseResultMap" type="com.ly.cookbook.model.UserLoginLog">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="loginTime" column="login_time" jdbcType="TIMESTAMP"/>
            <result property="loginIp" column="login_ip" jdbcType="VARCHAR"/>
            <result property="loginLocation" column="login_location" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="os" column="os" jdbcType="VARCHAR"/>
            <result property="loginStatus" column="login_status" jdbcType="SMALLINT"/>
            <result property="loginMessage" column="login_message" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,username,
        login_time,login_ip,login_location,
        browser,os,login_status,
        login_message,create_time
    </sql>
</mapper>
